* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 16px;
}

.mobile-container {

}

.header-logo {
    height: 70px;
    width: auto;
    margin: 0;
}

/* Login Page */
.welcome-page {
    background-color: #FEACC6;
    background-image: linear-gradient(to right, #FEACC6, #ffdee9);
}

.content-home {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 100vh;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

img.login-page {
    width: 200px;
    height: auto;
}

.login {
    background-color: #07689f;
    padding: 20px 40px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

/* Homepage 

.topnav {
    overflow: hidden;
    background-color: #ffdee9;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0 ;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

a.active {
    padding: 0;
}

*/

/* Dynamic hamburger menu */

nav {
    background: #222;
    padding: 0 15px;
}
 
a {
    color: white;
    text-decoration: none;
}

.menu, .submenu {
    list-style-type: none;
} 

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* burger menu mobile styling */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* hamburger submenus */

.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}
